  <!-- start of blog-header -->
    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">The Code &amp; Design Blog</h1>
        <p class="lead blog-description">A look at what I've been working on.</p>
        <%= link_to 'Create A New Post', new_blog_path if logged_in?(:site_admin) %>
      </div>
    </div>
  <!-- end of blog-header -->