<div id="contact-form">
  <div class='container text-center'>
    

    <h1 class="text-light">Thank you for your message!</h1>
    <h3 class="text-light">I'll get back to you soon.</h3>
    <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Back to the hompage'.html_safe, root_path, class: 'text-light' %>
  </div>
</div>